*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.desktop{
  width: 100%;
  height: 6401px;
  background: #FFF;
  justify-content:center;
}
header{
  display: flex;
  width: 100%;
  height: 122px;
  padding: 2% 8%;
  justify-content: space-between;
  align-items: center;
  background: #FFF;
}
header > img{
  width: 122px;
  height: 23.023px;
  flex-shrink: 0;
  /* margin: 22px 911px 22px 110px; */
}
.navbar{
  display: flex;
  align-items: flex-start;
  gap: 24px; 
}
.navbar>li>a{
  text-decoration: none;
  color: #4F4D4D;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
}
.navbar>li>a:hover{
  color: #253237;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.64px;
}
.navbar>li{
  list-style-type: none
}
button{
  display: flex;
  height: 44px;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #253237;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.64px;
}
.desktop1{
  width: 100%;
  height: 780px;
  flex-shrink: 0;
  background-color: rgb(31, 147, 141);
  background: linear-gradient(145deg, rgba(31, 148, 142,1) 0%, rgb(23, 206, 197) 35%, rgb(4, 253, 245) 100%);
  
} 
.frame148{
  display: inline-flex;
  margin: 211px 576px 0 110px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 42px;
  position: relative;
} 
.frame1481{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.frame1481>h1{
  width: 754px;
  color: #FFF;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 108.333% */
  letter-spacing: -0.96px;
  text-transform: uppercase;
}
.frame1481>p{
  width: 754px;
  color: #FFF;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
}
.frame148>button{
  display: flex;
  padding: 14px 32px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: #253237;
  color: #FFF;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.72px;
  border: none;
}
.fot{
  z-index: auto;
  position: relative;
  margin-bottom: 0;
  background-image: url(./img/desktop-image-1.png);
  background-position: top center;
  min-height: 79.6%;
  background-size: cover;
}